*.ipynb

# personal settings
.vscode

# code metrics
/figures

# Cython build
*.so
/build/

# logged artifacts
**/mlruns/**
**/hydra-multiruns/**
**/hydra-outputs/**/

# cache
**/__pycache__/**
/data
**/resources/**

# pkg info
neurosurrogate.egg-info/