# personal settings
.vscode
# pkg info
neurosurrogate.egg-info/
# cache
**/__pycache__/**
**/__marimo__/**
# logged artifacts
**/mlruns/**
mlflow.db
**/hydra-multiruns/**
**/hydra-outputs/**/

scripts/conf/surrogate/__*

docs/slide/result/_*
docs/slide/main.pdf

.DS_Store
**/.DS_Store