# personal settings
.vscode
# pkg info
neurosurrogate.egg-info/
# cache
**/__pycache__/**
# logged artifacts
**/mlruns/**
mlflow.db
**/hydra-multiruns/**
**/hydra-outputs/**/

scripts/conf/surrogate/__*


graphify-out/

.DS_Store
**/.DS_Store